<section class="s-block s-block--default home-slider s-block--full-bg">
    <salla-slider auto-play pagination type="fullwidth">
        <div slot="items">
            {% for banner in components.banner %}
                <div class="bg-no-repeat bg-cover swiper-slide swiper-lazy-wrap" style="background-color: black; background-image: Url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/aef1ce208772593.66f42369aa7b3.png')">
                    <div class="container flex text-center items-center justify-center sm:justify-start ltr:sm:justify-end px-8 py-16 lg:px-12 lg:py-20 home-slider__content relative h-full">
                        <div class="text-red w-full">
                            <h3 class="" data-swiper-parallax="-300">
                                {{ banner.title }}
                            </h3>
                            <p data-swiper-parallax="-700">
                                {{ banner.subtitle }}
                            </p>
                        </div>
                    </div>
                          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/aef1ce208772593.66f42369aa7b3.png" alt="من نحن" class="w-64 h-64 object-contain animate-float" loading="lazy" />

                </div>
            {% endfor %}
        </div>
    </salla-slider>
</section>