<section class="s-block s-block--default home-slider s-block--full-bg">
    <salla-slider auto-play pagination type="fullwidth">
        <div slot="items">
                <div class="bg-no-repeat bg-cover swiper-slide swiper-lazy-wrap" style="background-color: black; background-image: Url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/aef1ce208772593.66f42369aa7b3.png')">
                    <div class="container flex text-center items-center justify-center sm:justify-start ltr:sm:justify-end px-8 py-16 lg:px-12 lg:py-20 home-slider__content relative h-full">
                        <div class="text-red w-full">
                            <h3 class="" data-swiper-parallax="-300">
                               asmaa ali
                            </h3>
                            <p data-swiper-parallax="-700">
asmaa ali                            </p>
                        </div>
                    </div>

                </div>
        </div>
    </salla-slider>
</section>



<section class="s-block s-block--default home-slider s-block--full-bg">
    <salla-slider auto-play pagination type="fullwidth">
        <div slot="items">
            {% for banner in component.banner_last %}
                <div class="bg-no-repeat bg-cover swiper-slide swiper-lazy-wrap" style="background-color: black; background-image: Url('{{ slide.image }}')">
                    <div class="container flex text-center items-center justify-center sm:justify-start ltr:sm:justify-end px-8 py-16 lg:px-12 lg:py-20 home-slider__content relative h-full">
                        <div class="text-white w-full">
                            <h3 class="" data-swiper-parallax="-300">
                                {{ banner.title }}
                            </h3>
                            <p data-swiper-parallax="-700">
                                {{ banner.subtitle }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </salla-slider>
</section>